
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    background: $color-white;
    color: $color-grey-dark;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

a {
    color: $color-orange;
    text-decoration: none;
}

ul {
    list-style: none;
}

.main-content {
    overflow-x: hidden;
}

.heading-secondary {
    color: $color-blue;
    font-size: $font-s*2;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    margin-bottom: 4rem ;
}

.heading-secondary::after {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 50%;
    transform:translateX(-50%);
    margin-top: 5px;
    display: block;
    border: 1px solid $color-blue;
    border-radius: 2px;
    width: 6rem;
}

@include respond(tab-land) {
    .heading-secondary {
        font-size: $font-s*3;
    }

    .heading-secondary::after {
        width: 8rem;
    }
}


