.divider {
    background: url(../img/ice.jpg) no-repeat center;
    background-size: cover; 

    &-background {
        background-color: rgba(244,244,244,0.7);
    }

    &-content {
        padding: 5rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .paragraph {
        @include paragraph;

        margin: 3rem 0;
        text-align: center;

        span {
            display: block;
        }
    }

    .cta-btn {
        font-size: 1.4rem;
    }
}

@include respond(tab-port) {

    .divider {

        &-content {
            padding: 5rem 4rem;
        }

        .cta-btn {
            font-size: $font-m;
        }
    } 
}

@include respond(tab-land) {

    .divider {

        &-content {
            padding: $sp-large 4rem;
        }

        .paragraph {
            margin: 5rem 0;
        }
    }   
}
