.gallery {

    &-content {
        display: flex;
        flex-direction: column;
        padding: 0 2rem;
        max-width: $max-content-width;
        margin: 0 auto;
    }
    
    .truck-img {
    
        &:not(:last-child) {
            margin-bottom: $sp-small*2;
        }
    
        img {
            width: 100%;
        }
    }
}

//MEDIA QUERIES

@include respond(tab-port) {

    .gallery {

        &-content {
            padding: 0 4rem;
            flex-direction: row;
            justify-content: center;
            display: grid;
            grid-template-columns: repeat(2, minmax(100px, 1fr));
            grid-gap: $sp-small*4;
        }
    
        .truck-img {
            
            &:not(:last-child) {
                margin-bottom: 0;
            }
        }
    }
}
