.header {
    height: 82px;
    box-shadow: $shadow-light;

    .nav-container {
        max-height: 82px;
        background-color: $color-white;
        margin: 0 auto;
        padding: $sp-small*2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }  
    
    .company-logo {
        margin-bottom: $sp-small;
        font-size: $font-s*2 + $font-xs;
        font-weight: bold;
        line-height: 1;
        color: $color-grey-dark;
    }

    .navigation {
        height: 100vh;
        background-color: $color-orange;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: $z-index-navigation;
        transform: translateX(100vw);
        transition: transform .5s ease-in-out;

        &-list {
            color: $color-white;
            font-size: $font-xs*4;
            text-transform: uppercase;
            display: flex;
            flex-direction: column;
            align-items: center;

            &-element {
                padding: 1.6rem;
            }
        }

        &-link {
            color: inherit;
        }

        &-active {
            width: 100%;
            transform: translateX(0);
        }
    }

    .phone-number {
        font-size: $font-xs*3;
    }

    .phone-number::before {
        font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f879";
        margin-right: $sp-small;
        padding-left: .3rem;
    }
}


.hero {
    background: url(../img/hero_img.jpg) no-repeat center;
    background-size: cover;  

    &-container {
        background-color: rgba(244,244,244,0.9);
    }
    
    &-content {
        max-width: $max-content-width;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: $sp-small*8 $sp-small*2 $sp-small*6;
        margin: 0 auto;
    }

    &-text {
        @include paragraph;

        max-width: 500px;
        margin-bottom: $sp-small*3;
    }
}

//MEDIA QUERIES

//Navigation

@include respond(tab-port) {
    .header {

        .nav-container {
            padding: $sp-small*3 $sp-small*4;
        }

        .company-logo {
            font-size: $font-s*3;
        }
    }
}

@include respond(desktop) {
    .header {
        position: sticky;
        top: 0;
        z-index: $z-index-header;

        .nav-container {
            flex-direction: row;
            align-items: flex-end;
        }

        .company-logo {
            margin-bottom: 0;
            margin-right: 3.6rem;
        }

        .navigation {
            height: 100%;
            background-color: transparent;
            position: inherit;
            transform: translateX(0);
    
            &-list {
                font-size: $font-xs + $font-s;
                display: flex;
                flex-direction: row;
    
                &-element {
                    padding: 0;
                    margin-right: $sp-small*3;
                }
            }
    
            &-link {
                color: $color-grey-dark;
                transition: color .2s ease-in-out;

                &:hover {
                    color: $color-orange;
                }
            }
        }

        .phone-number {
            margin-left: auto;
            transition: color .2s ease-in-out;
        }
    }
}

@include respond(touch-device) {

    .header {

        .phone-number {
            &:hover {
                color: $color-grey-dark;
            }
        }
    }
}

//Hero section

@include respond(tab-port) {

    .hero {

        &-content {
            padding: 14rem 4rem $sp-large;         
        }

        &-text {
            margin-bottom: $sp-small*4;
        }
    }
}

@include respond(tab-land) {

    .hero {
        background: url(../img/hero_img.jpg) no-repeat right;
        background-size: auto 100%;

        &-container {
            background-color: rgba(244,244,244,1);
            clip-path: polygon(0 0, 65% 0, 35% 100%, 0% 100%);
        }
        
        &-content {
            padding: 17rem 4rem $sp-large*2;  
        }
        
        &-text {
            width: 40vw;
        }
    }
}

@include respond(desktop) {

    .hero {
        background: url(../img/hero_img.jpg) no-repeat right;
        background-size: auto 120%;

        &-container {
            background-color: rgba(244,244,244,1);
            clip-path: polygon(0 0, 70% 0, 45% 100%, 0% 100%);
        }
    
        &-content {
            padding: 12rem 4rem 11rem; 
        }
    
        &-text {
            width: 40vw;
        }
    }
}

@include respond(big-screen) {
    
    .hero {
        background: url(../img/hero_img.jpg) no-repeat right;
        background-size: auto 50vw;

        &-content {
            padding: $sp-large*2 4rem 24rem;  
        }
    }
}
