.header {
    box-shadow: $shadow-light;
}

.nav-container {
    max-height: 82px;
    background-color: $color-white;
    margin: 0 auto;
    padding: $sp-small $sp-small*2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;


    .logo {
        margin-bottom: $sp-small;
        font-size: $font-s*2 + $font-xs;
        font-weight: bold;
        line-height: 1;
        color: $color-grey-dark;
    }

    .navigation {
        height: 100vh;
        background-color: $color-orange;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: $z-index-navigation;
        transform: translateX(100vw);
        transition: transform .5s ease-in-out;

        &-list {
            color: $color-white;
            font-size: $font-xs*4;
            text-transform: uppercase;
            display: flex;
            flex-direction: column;
            align-items: center;

            &-element {
                padding: 1.6rem;
            }
        }

        &-link {
            color: inherit;
        }

        &-active {
            width: 100%;
            transform: translateX(0);
        }
    }

    .phone-number {
        font-size: $font-xs*3;
    }

    .phone-number::before {
        font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f879";
        margin-right: $sp-small;
        padding-left: .3rem;
    }
}    

.hero {
    background: url(../img/hero_img.jpg) no-repeat center;
    background-size: cover;
    margin-bottom: $sp-large/2; 
}

.hero-container {
    background-color: rgba(244,244,244,0.9);
}

.hero-content {
    max-width: $max-content-width;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: $sp-small*8 $sp-small*2 $sp-small*6;
    margin: 0 auto;

    .heading-primary {
        color: $color-blue;
        font-size: $font-s*3;
        margin-bottom: $sp-small*2;

        span {
            display: block;
            font-size: $font-s*2;
            line-height: 1.6;
        }
    }

    .hero-text {
        max-width: 500px;
        font-size: $font-m;
        margin-bottom: $sp-small*3;
        line-height: 1.4;
    }
}


//Media queries

//Navigation

@include respond(tab-port) {
    .nav-container {

        .logo {
            font-size: $font-s*3;
        }
    }
}

@include respond(desktop) {
    .nav-container {
        padding: $sp-small*2 $sp-small*3;
        flex-direction: row;
        align-items: flex-end;

        .logo {
            margin-bottom: 0;
            margin-right: 3.6rem;
        }

        .navigation {
            height: 100%;
            background-color: transparent;
            position: inherit;
            transform: translateX(0);
    
            &-list {
                font-size: $font-xs + $font-s;
                display: flex;
                flex-direction: row;
    
                &-element {
                    padding: 0;
                    margin-right: $sp-small*3;
                }
            }
    
            &-link {
                color: $color-grey-dark;
                transition: color .2s ease-in-out;

                &:hover {
                    color: $color-orange;
                }
            }
        }

        .phone-number {
            margin-left: auto;
        }
    }
}

//Hero section

@include respond(tab-port) {

    .hero-content {
        padding: 14rem 2rem $sp-large;
    
        .heading-primary {
            font-size: $font-s*4;
            margin-bottom: $sp-small*3;
    
            span {
                font-size: $font-s*3;
            }
        }
    
        .hero-text {
            line-height: 1.6;
            margin-bottom: $sp-small*4;
        }
    
        .cta-btn {
            padding: $sp-small 2.6rem;
            font-size: $font-s*2;
        }
    }
}

@include respond(tab-land) {

    .hero {
        background: url(../img/hero_img.jpg) no-repeat right;
        background-size: auto 100%;
        margin-bottom: $sp-large; 
    }

    .hero-container {
        background-color: rgba(244,244,244,1);
        clip-path: polygon(0 0, 65% 0, 35% 100%, 0% 100%);
    }
    
    .hero-content {
        padding: 17rem 4rem $sp-large*2;
    
        .heading-primary {
            font-size: $font-s*4 + $font-xs;
            margin-bottom: $sp-small*3;
    
            span {
                font-size: $font-s*3 + $font-xs;
            }
        }

        .hero-text {
            width: 40vw;
        }
    }
}

@include respond(desktop) {

    .hero {
        background: url(../img/hero_img.jpg) no-repeat right;
        background-size: auto 120%;
    }

    .hero-container {
        background-color: rgba(244,244,244,1);
        clip-path: polygon(0 0, 70% 0, 45% 100%, 0% 100%);
    }

    .hero-content {
        padding: 12rem 4rem 11rem;
    
        .heading-primary {
            font-size: $font-s*5 + $font-xs;
            margin-bottom: $sp-small*3;
    
            span {
                font-size: $font-s*4;
            }
        }

        .hero-text {
            width: 40vw;
            font-weight: $font-xs*3 ;
        }
    }
}

@include respond(big-screen) {
    
    .hero {
        background: url(../img/hero_img.jpg) no-repeat right;
        background-size: auto 50vw;
    }

    .hero-content {
        padding: $sp-large*2 4rem 24rem;
    
        .heading-primary {
            font-size: $font-s*6;
            margin-bottom: $sp-small*3;
    
            span {
                font-size: $font-s*4 + $font-xs;
            }
        }

        .hero-text {
            width: 40vw;
        }
    }
}
