@mixin hamburger-line {
    background-color: $color-white;
    width: 100%;
    height: 3.6px;
    position: absolute;
    border-radius: 5px;
}

@mixin font-awesome-before {
    color: $color-orange;
    font-size: $font-m*2;
    margin-right: $sp-small*2;
    display: inline-block;
    width: 40px;
    vertical-align: bottom;

    @include respond(tab-port) {
        font-size: $font-m*3;
        width: 60px;
    }

    @include respond(tab-land) {
        font-size: $font-s*5;
        width: 70px;
        margin-right: $sp-small*3;
    }
}

@mixin icon-before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-size: $font-s*3;
    padding: 0 $sp-small $sp-small;

    @include respond(tab-land) {
        font-size: $font-m*2;
        padding: 0 $sp-small*2 $sp-small*2;
    }
}

@mixin hover-link($color) {
    border-bottom: 1px solid $color;
}

@mixin paragraph {
    font-size: $font-m;
    line-height: 1.6;

    @include respond(big-screen) {
        font-size: $font-xs*3;
    }
}


@mixin respond($breakpoints) {
    @if $breakpoints == tab-port {
        @media screen and (min-width: 768px) {@content}
    };

    @if $breakpoints == tab-land {
        @media screen and (min-width: 1024px) {@content}
    };

    @if $breakpoints == desktop {
        @media screen and (min-width: 1355px) {@content}
    };

    @if $breakpoints == big-screen {
        @media screen and (min-width: 1600px) {@content}
    };

    @if $breakpoints == touch-device {
        @media (hover: hover) {@content}
    }
}
