//COLORS
$color-white: #fff;
$color-black: #000;
$color-grey-dark: #363636;
$color-grey-light: #f4f4f4;
$color-blue: #0054a6;
$color-orange: #ff7403; 

//TYPOGRAPHY
$font-xs: 0.6rem;
$font-s: 1rem;
$font-m: 1.6rem;

//SPACING
$sp-small: 1rem;
$sp-large: 10rem;


//SHADOW
$shadow-light: 0px 1px 10px -4px rgba(54,54,54,0.28);

//Z-INDEX
$z-index-navigation: 2;
$z-index-hamburger: 5;